<h1><%= @message %> (<%= ActiveRecord::Base.configurations[Rails.env]['adapter'] %>)</h1>

<h2><%= @balls %></h2>
(<%=Ball.count%> balls created so far)<br/></br>
<img src=<%= asset_path('golf-ball.jpg')%>></img>



